@using Microsoft.AspNet.Identity
@* 
 This partial controls the left menu of the AdminLTE dashboard and is called automatically by _AdminLteLayout
    This is where you can add, modify, or remove navigation options in your app
    TODO: This preserves the links as-is for the demo, which lead to broken pages!
    It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@


@{
    Layout = null;
}

@*@if (Request.IsAuthenticated)
    {*@
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/AdminLTE/img/default.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                @*@{
                    var userid = User.Identity.GetUserName();
                    AdminLteMvc.Models.ContextModel db = new AdminLteMvc.Models.ContextModel();
                    var fullname = db.Users.Where(u => u.UserID == userid).First().UserName;
                }*@
                <p>Reymart Fernandez</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">

            <a href="~/AdminLte/Index">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                @*<i class="fa fa-angle-left pull-right"></i>*@
            </a>
            @*<ul class="treeview-menu">
                <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
            </ul>*@
        </li>
        @*<li class="treeview">
            <a href="#">
                <i class="fa fa-files-o"></i>
                <span>Layout Options</span>
                <span class="label label-primary pull-right">4</span>
            </a>
            <ul class="treeview-menu">
                <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
                <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
            </ul>
        </li>
        <li>
            <a href="pages/widgets.html">
                <i class="fa fa-th"></i> <span>Widgets</span> <small class="label pull-right bg-green">new</small>
            </a>
        </li>*@
        @*<li class="treeview">
            <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Reports</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Report 1</a></li>
                <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Report 2</a></li>
                <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Report 3</a></li>
            </ul>
        </li>*@
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cog"></i>
                <span>Administration</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="~/Users/Index"><i class="fa fa-circle-o"></i> Users</a></li>
                <li><a href="~/Users/Index"><i class="fa fa-circle-o"></i> Authorization</a></li>
                <li><a href="~/Users/Index"><i class="fa fa-circle-o"></i> Employee</a></li>
                <li><a href="~/Users/Index"><i class="fa fa-circle-o"></i> Service Type</a></li>
                <li><a href="~/Users/Index"><i class="fa fa-circle-o"></i> Rates</a></li>
                @*<li>
                    <a href="#"><i class="fa fa-circle-o"></i> Setup <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="~/PriceLists/Index"><i class="fa fa-circle-o"></i> Price List</a></li>
                    </ul>
                </li>*@
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-cog"></i>
                <span>FORWARDING</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="~/Booking/Index"><i class="fa fa-circle-o"></i>Booking</a></li>
                <li><a href="~/ATW/Index"><i class="fa fa-circle-o"></i>ATW</a></li>
                <li><a href="~/Yard/Index"><i class="fa fa-circle-o"></i>YARD</a></li>
                <li>
                    <a href="#">
                        <i class="fa fa-circle-o"></i>
                        <span>EIR</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/EIR/IndexOut"><i class="fa fa-circle"></i>EIR-OUT</a></li>
                        <li><a href="~/EIR/IndexIn"><i class="fa fa-circle"></i>EIR-IN</a></li>
                    </ul>
                </li>
                <li><a href="~/Proforma/Index"><i class="fa fa-circle-o"></i>PROFORMA BL</a></li>
            </ul>
        </li>
        @*<li class="treeview">
            <a href="#">
                <i class="fa fa-laptop"></i> <span>Sales A/R</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i> Cash Sales <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="~/CashInvoices/Index"><i class="fa fa-circle-o"></i> Cash Invoice</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i> Installment Sales <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="~/SalesOrders/Index"><i class="fa fa-circle-o"></i> Sales Confirmation</a></li>
                        <li><a href="~/SalesInvoices/Index"><i class="fa fa-circle-o"></i> Installment Invoice</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i> Accommodation <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="~/AccomInvoices/Index"><i class="fa fa-circle-o"></i> Accommodation Invoice</a></li>

                    </ul>
                </li>

            </ul>
        </li>*@
        @*<li class="treeview">
            <a href="#">
                <i class="fa fa-shopping-cart"></i> <span>Purchasing A/P</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Purchase Order</a></li>
                <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Goods Receipt PO</a></li>

            </ul>
        </li>*@
        @*<li class="treeview">
            <a href="#">
                <i class="fa fa-bank"></i> <span>Banking</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="~/Incomings/Index"><i class="fa fa-circle-o"></i> Incoming Payment</a></li>
                <li><a href="~/DPInvoices/Index"><i class="fa fa-circle-o"></i> Down Payment</a></li>
            </ul>
        </li>
        <li>
            <a href="~/BusinessPartners/Index">
                <i class="fa fa-users"></i> <span>Business Partner</span>
            </a>
        </li>*@
        @*<li class="treeview">
            <a href="#">
                <i class="fa fa-flask"></i> <span>Inventory</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="~/Items/Index"><i class="fa fa-circle-o"></i> Item Master</a></li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i> Goods Issue <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="~/GoodsIssues/Index"><i class="fa fa-circle-o"></i> Resumption</a></li>
                        <li><a href="~/InvTransfers/Index"><i class="fa fa-circle-o"></i> Stock Transfer Invoice</a></li>
                        <li><a href="~/WarrantyRepairs/Index"><i class="fa fa-circle-o"></i> Warranty Repairs - Customer</a></li>
                        <li><a href="~/ChangeUnits/Index"><i class="fa fa-circle-o"></i> Change Unit</a></li>
                        <li><a href="~/Replacements/Index"><i class="fa fa-circle-o"></i> For Replacement</a></li>
                        <li><a href="~/OtherGoodsIssues/Index"><i class="fa fa-circle-o"></i> Other Goods Issue</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i> Goods Receipt <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="~/GoodsReceipts/Index"><i class="fa fa-circle-o"></i> Repossesion</a></li>
                        <li><a href="~/BranchReceivings/Index"><i class="fa fa-circle-o"></i> Branch Receiving Report</a></li>
                        <li><a href="~/WarrantyReturns/Index"><i class="fa fa-circle-o"></i> Warranty Returns - Customer</a></li>
                        <li><a href="~/OtherGoodsReceipts/Index"><i class="fa fa-circle-o"></i> Other Goods Receipt</a></li>
                    </ul>
                </li>
            </ul>
        </li>*@


        @*<li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-danger"></i> Important</a></li>
        <li><a href="#"><i class="fa fa-circle-o text-warning"></i> Warning</a></li>
        <li><a href="#"><i class="fa fa-circle-o text-info"></i> Information</a></li>*@
    </ul>
    </section>
    <!-- /.sidebar -->
</aside>
@*}*@