@{
    ViewBag.Title = "EIR PullOut Report";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeIn">

    <div class="text-center m-t-md">
        <div id="DisplayPDF">

        </div>
    </div>
</div>
@*<div class="box-footer">
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("IndexOut", "EIR")'"> <i class="fa fa-cancel fa-1x"></i> Back to EIR-Out List</button>
    </div>*@
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            var URL = '../../../EIR/DisplayEIROReport';
            $("#DisplayPDF").html(
                $('<iframe>', {
                    src: URL + '?EIRONo=' + '@ViewBag.EIRONo',
                    title: "EIR PullOut Report",
                    width: '1000px',
                    height: '800px'
                })
            );
        });
    </script>
}