@model AdminLteMvc.Models.WEBSales.EIRIn
@{
    ViewBag.Title = "List of Returned EIR";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">@Html.Awe().TextBox("txtsearch").Placeholder("Search").CssClass("searchtxt")</h3>
    </div>
    <div class="box-body">
        <div id="demoContent">

            @(Html.Awe().Grid("ApiDemoGrid")
          .Mod(o => o.PageInfo().PageSize().ColumnsSelector())
          .Columns(new[]{
              new Column{Bind = "EIRINo", Header = "EIR No"},
              new Column{Bind = "EIRIReferenceNo", Header = "EIR Reference No"},
new Column{Bind = "EIRIStatus", Header = "EIR Status"},
new Column{Bind = "EIRIDate", Header = "Issue Date"},
new Column{Bind = "EIRITime", Header = "Issue Time"},
new Column{Bind = "EIRIServiceType", Header = "Service Type"},
new Column{Bind = "EIRIConvanStatus", Header = "ConVanStatus"},
new Column{Bind = "EIRITransactionNo", Header = "Transaction No"},
new Column{Bind = "EIRIVessel", Header = "Vessel"},
new Column{Bind = "EIRIVoyageNo", Header = "Voyage No"},
new Column{Bind = "EIRIPortOfOrigin", Header = "Port of Origin"},
new Column{Bind = "EIRIRelayPort", Header = "Relay Port"},
new Column{Bind = "EIRIPortOfDestination", Header = "Port of Destination"},
new Column{Bind = "EIRIConvanNo", Header = "ConVan No"},
new Column{Bind = "EIRISealNo", Header = "Seal No"},
new Column{Bind = "EIRISealStatus", Header = "Seal Status"},
new Column{Bind = "EIRIConvanSize", Header = "ConVan Size"},
new Column{Bind = "EIRIWeight", Header = "Weight"},
new Column{Bind = "EIRIVolume", Header = "Volume"},
new Column{Bind = "EIRIShipper", Header = "Shipper"},
new Column{Bind = "EIRIConsignee", Header = "Consignee"},
new Column{Bind = "EIRITrucker", Header = "Trucker"},
new Column{Bind = "EIRIPlateNo", Header = "Plate No"},
new Column{Bind = "EIRIDriversName", Header = "Driver's Name"},
new Column{Bind = "EIRIDamagesCode", Header = "Damages Code"},
new Column{Bind = "EIRISCR", Header = "Shipping Company Representative"}
          })
              .Resizable()
              .Reorderable()
              .Height(350)
              .Groupable(false)
              .Selectable(SelectionType.Single)
              .Parent("txtsearch", "search")
              .Url(Url.Action("GetItemsIn", "EIR")))

        </div>
    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-default" id="print"> <i class="fa fa-paper-plane-o fa-1x"></i>View Form and Proceed for Print</button>
        <button type="button" class="btn btn-default" id="viewdtls"> <i class="fa fa-paper-plane-o fa-1x"></i>View Details</button>
        <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("IndexOut", "EIR")'"> <i class="fa fa-paper-plane-o fa-1x"></i>List for Return</button>
    </div>
</div>
<link href="~/Content/bootstrap-toggle.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/bootstap-toggle.js"></script>

    <script type="text/javascript">

        $(function () {

            $('#ApiDemoGrid').on('awerender', function () {
                $(this).find(".checkbox-toggle").bootstrapToggle();
            });

            $('#txtsearch').keyup(function () {
                $('#ApiDemoGrid').data('api').load();
            });

            $('#ApiDemoGrid').on('aweload', function (e, data, rd) {
                $('#log').prepend('aweload handled,\n data: ' + JSON.stringify(data) + "\n request data" + JSON.stringify(rd) + '\n\n');
            }).on('awebeginload', function (e, data) {
                $('#log').prepend('awebeginload handled,\n request data: ' + JSON.stringify(data) + '\n\n');
            });

            var lastSelectedIds;
            var lastSelectedEIRINo;
            $('#ApiDemoGrid').on('aweselect', function () {
                lastSelectedIds = $.map($(this).data('api').getSelection(), function (val) { return val.EIRIID; });
                lastSelectedEIRINo = $.map($(this).data('api').getSelection(), function (val) { return val.EIRINo; });
                console.log(lastSelectedIds);
                lastSelectedIdStat = $.map($(this).data('api').getSelection(), function (val) { return val.EIRIStatus; });
                console.log(lastSelectedIds);
            })

            $('#print').click(function () {

                if (lastSelectedIds != null) {
                    if (lastSelectedIds.length != 0) {
                        window.location.href = '/EIR/ReturnPrint/' + lastSelectedIds;
                    }
                    else {
                        $.notify("Please select eir to print.", "error");
                    }
                }
                else {
                    $.notify("Please select eir to print.", "error");
                }
            });
            $('#eirin').click(function () {

                if (lastSelectedIds != null) {
                    if (lastSelectedIds.length != 0) {
                        window.location.href = '/EIR/EIRReturn/' + lastSelectedIds;
                    }
                    else {
                        $.notify("Please select eir for EIR Return.", "error");
                    }
                }
                else {
                    $.notify("Please select eir for EIR Return.", "error");
                }
            });

            $('#viewdtls').click(function () {

                if (lastSelectedEIRINo != null) {
                    if (lastSelectedEIRINo.length != 0) {
                        window.location.href = '/EIR/EIRIViewDetails?eirNo=' + lastSelectedEIRINo;
                    }
                    else {
                        $.notify("Please select eir to print.", "error");
                    }
                }
                else {
                    $.notify("Please select eir to print.", "error");
                }
            });
        });

        function setContent(o) {
            $('#ApiDemoGrid').data('api').clearpersist();
            $('#demoContent').html(o);
        };

        var toggleButton = function (model, prop) {
            var checked = model[prop] ? 'checked = "checked"' : '';
            return '<input disabled="disabled" type="checkbox" ' + checked + ' class="checkbox-toggle" data-toggle="toggle" data-on="Yes" data-off="No" data-size="small">';
        };

    </script>
}
<style>
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
